<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>0</TotalTime><Pages>1</Pages><Words>349</Words><Characters>1990</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><PresentationFormat></PresentationFormat><Lines>16</Lines><Paragraphs>4</Paragraphs><Slides>0</Slides><Notes>0</Notes><HiddenSlides>0</HiddenSlides><MMClips>0</MMClips><ScaleCrop>false</ScaleCrop><Manager></Manager><Company>GRGYunYong</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>2335</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>